Containing a colon does not mean an IRI is absolute or blank node identifier

https://github.com/w3c/json-ld-api/blob/dd3fdfdf76834464f03a817ba136606acef783d9/index.html#L1486-L1490

[RFC 3986 §3.3. Path](https://tools.ietf.org/html/rfc3986#section-3.3) says that path segments can have colon characters.
So, "If the result is neither an IRI nor a blank node identifier" is not equal to "it contains no colon `:`".
Counter example is `./foo:bar`: it **is** "neither an IRI nor a blank node identifier", but **not** "it contains no colon".

I didn't check other places saying "contains a colon" is correct or not, but "contains a colon" and "is an IRI or a blank node identifier" should be used in non-confusing way, and should be corrected if unexpected one is used...

Per RFC 3986`./foo:bar` is not an IRI (which is always in absolute form), it is an *IRI reference*. We came to this realization when addressing w3c/json-ld-syntax#288.

Previously, the part of the document you cite read

> If the result is nether an *absolute* IRI nor a blank node identifier...

(emphasis is mine) but we resolved to align our terminology to that of RFC3986, and replace "relative IRI" with "relative IRI reference", and "absolute IRI" with "IRI" (because "absolute IRI" rules out fragments identifiers, while "IRI" does not).

I [expressed my concern](https://github.com/w3c/json-ld-syntax/issues/288#issuecomment-547975144) that "most people reading 'IRI' may wrongly think: it might be absolute or relative". I find it quite ironic that the first person to confirm my concern is the very person who pointed out the problem in our terminology... :->

You are correct, checking for a colon is not enough for deciding that we have an IRI or blank node identifier...

I scanned the mention of "colon" in the spec, and I think the only other place where this mistake needs fixing is step 6 of [§5.2.2](https://w3c.github.io/json-ld-api/#algorithm-4) (IRI Expansion).

In 1.0 we made a decision to make IRI detection simple by just looking for a colon. This certainly doesn’t protect against such obvious attacks, but is really an sue for interpreting most JSON. To do it right, we should use wording such as “has the form of an IRI as described in section xxx of RFC3987”, which would require more work in the part of processors to check for this at the expense of simplicity.

Most native keys in native JSON will never contain a colon, and when they do, they are really explicitly IRIs or compact IRIs. Odd relative IRIs are possible, but not really from native JSON.

We need to decide if we want to stay simple/simplistic or be more bullet proof.

@msporny and @dlongley may have an opinion about this too.

Maybe this SHOULD be bullet proof (instead of MUST)?

> We need to decide if we want to stay simple/simplistic or be more bullet proof.

How many real world issues have been caused by the simplistic model? If it is a trivial number, I suggest we stay simple (even though it's not perfect... or in the worst case do something slightly more complex (like detecting if the IRI is a relative IRI by seeing if it starts with `.` -- (which is probably the wrong thing to do) ... but something to that effect).

At this point, the algorithms are complicated enough that the additional complexity of checking an IRI for form is probably not much of a barrier, and there are numerous libraries that exist that do this. 

@msporny if we decided to favor simplicity over precision, we should still amend the text, to make it clear that we *know* that the colon-test is not absolutely accurate, but that we deem it good enough for JSON-LD...

Another (imperfect) way to check this is to match the key against the following regex

`^([A-Za-z][A-Za-z0-9.+-]*|_):.`

_i.e._ it *starts* like an absolute IRI or a bnodeID.


> https://github.com/w3c/json-ld-api/blob/dd3fdfdf76834464f03a817ba136606acef783d9/index.html#L1486-L1490
> 
> [RFC 3986 §3.3. Path](https://tools.ietf.org/html/rfc3986#section-3.3) says that path segments can have colon characters.
> So, "If the result is neither an IRI nor a blank node identifier" is not equal to "it contains no colon `:`".
> Counter example is `./foo:bar`: it **is** "neither an IRI nor a blank node identifier", but **not** "it contains no colon".
> 
> I didn't check other places saying "contains a colon" is correct or not, but "contains a colon" and "is an IRI or a blank node identifier" should be used in non-confusing way, and should be corrected if unexpected one is used...

In this particular case (the step for `@reverse`, we're looking at the result of expanding the value of `@reverse`. At that point, it is either a fully-qualified IRI, or a blank node, and thus contains a colon. If it doesn't contain a colon, it can be neither, and the invalid IRI mapping error is appropriate.

> You are correct, checking for a colon is not enough for deciding that we have an IRI or blank node identifier...
> 
> I scanned the mention of "colon" in the spec, and I think the only other place where this mistake needs fixing is step 6 of [§5.2.2](https://w3c.github.io/json-ld-api/#algorithm-4) (IRI Expansion).

We say to return the term if it has the form of an IRI in step 6.5 of IRI expansion, other wise it would drop down to subsequent steps, and do either vocabulary or document expansion, or just return the unaltered value. So, I don't think any further test is necessary here in the spec, but perhaps a test or two.

In the `@reverse` case in Create Term Definition we can just ensure it has either the form or an IRI or a blank node.

I'll add a test for this, too.

Actually, the `@reverse` case is handled, because any string will be percent encoded as necessary per 2.1 of RFC 3986. Everything but native values will be turned into a valid IRI or blank node identifier, so any further wording is unnecessary.

Agree to close