Confusing links for definition of "IRI"

Related to w3c/json-ld-syntax#288, the API document uses the phrase "the form of an IRI" in several places, with "IRI" being linked to [RFC3987 Section 1.3 Definitions](https://tools.ietf.org/html/rfc3987#section-1.3). However, the linked definitions section does not contain a definition for "IRI", nor for "form of an IRI". This is confusing and makes it very difficult to determine what "form of an IRI" means in context.

[Section 1.4 Terminology](https://w3c.github.io/json-ld-api/#terminology) indicates that the use of "IRI" in the API document is meant to be read as an "absolute form of an IRI". Could the links used throughout the document for "the form of an IRI" link to Section 1.4 instead of RFC3987? I believe such a change would aid in understanding of these uses in context, especially that it is the absolute form of an IRI (and not, for example, an IRI reference which is the closest matching definition in section 1.3).
